<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center" style="height: 55px">
        <a class="navbar-brand text-success logo h1 align-self-center" href="/">
            Vintage
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
            id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav d-flex justify-content-end align-items-center">
                    <!-- <li class="nav-item mx-2">
                        <div class="searchbar">
                            <input class="search_input rounded-pill shadow-lg bg-body rounded" type="text" placeholder="Tìm kiếm">
                            <a href="#" class="search_icon"><i class="fa fa-fw fa-search text-dark"></i></a>
                        </div>
                    </li> -->
                    <li class="nav-item mx-4">
                        <!-- <div class="dropdown">
                            <a class="nav-icon d-none d-lg-inline" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-fw fa-bars text-dark"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <% //danhmuc.forEach(function(dm){ %>
                                    <li><a class="dropdown-item" href="/"><%= //dm.DanhMuc %> </a></li>
                                <% //}) %>
                            </ul>
                        </div> -->
                        <div class="dropstart" :hover>
                            <a href="#" data-bs-toggle="dropdown" class="nav-icon d-none d-lg-inline" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-fw fa-bars text-dark"></i>
                            </a>
                
                            <div class="dropdown-menu">
                              
                                <div class="mega-menu d-flex">
                                    <div>
                                        <h3 class="text-primary">Math</h3>
                                        <ul class="list-unstyled">
                                            <li><a href="#">Early math(5) </a></li>
                                            <li><a href="#">Pre-Algebra(22) </a></li>
                                            <li><a href="#">Algebra 1(12) </a></li>
                                            <li><a href="#">Geometry(81) </a></li>
                                            <li><a href="#">Trigonometry(9) </a></li>
                                            <li><a href="#">Percalculus(16) </a></li>
                                            
                                        </ul>
                                    </div>
                                    <div>
                                        <h3 class="text-warning">Computing</h3>
                                        <ul class="list-unstyled">
                                            <li><a href="#">Computer Programming(5) </a></li>
                                            <li><a href="#">Computer Science(12) </a></li>
                                            <li><a href="#">Hour of Code(81) </a></li>
                                            <li><a href="#">Computer Animation(9) </a></li>
                                            <li><a href="#">Graphic Design(16) </a></li>
                                            <li><a href="#">Logo Design(22) </a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h3 class="text-danger">Economic</h3>
                                        <ul class="list-unstyled">
                                            <li><a href="#">Microeconomics(32) </a></li>
                                            <li><a href="#">Macroeconomics(61) </a></li>
                                            <li><a href="#">Finance(73) </a></li>
                                            <li><a href="#">Capital Markets(88) </a></li>
                                            <li><a href="#">World Economy(19) </a></li>
                                            <li><a href="#">Accounting(93) </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-icon position-relative text-decoration-none" href="#">
                            <i class="fa fa-fw fa-cart-arrow-down text-dark"></i>
                            <!-- <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">
                            </span> -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <% if (!session.MaTaiKhoan) { %> 
                            <a class="nav-icon position-relative text-decoration-none btn btn-outline-success text-dark" href="/dangnhap">
                                Đăng nhập<i class="fa fa-fw fa-user text-dark"></i>
                            </a>
                        <% } else { %>
                            <div class="dropstart">
                                <a class="nav-icon position-relative text-decoration-none btn btn-outline-success text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Chào, <%= session.TenTaiKhoan %>!<i class="fa fa-fw fa-user text-dark"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/thongtincanhan">Thông tin cá nhân</a></li>
                                    <li><a class="dropdown-item" href="/dangxuat">Đăng xuất</a></li>
                                </ul>
                            </div>
                        <% } %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>